<template>
    
    <form class="task" @submit.prevent="onSubmit"  >
        <div class="fastTask">
            <h5>Быстрое добавление задачи</h5>
            <i class="fas fa-times" @click="closeModal"></i>
        </div>
      <input type="text" v-model="title" placeholder="напр., сдать таск">
      <div class="buttons">
         <button type="submit">Добавить задачу</button>
        
      </div>
    </form>

</template>

<script>
export default {
    methods:{
        onSubmit(){
            if(this.title.trim())
            {
                const newTodo={
                id:Date.now(),
                title:this.title,
                completed:false
            }
            this.$emit('add-todo',newTodo)
            this.title=''
            }
        },
        closeModal() {
            this.$emit('modal', false)
        }
    }
}
</script>
<style  scoped>
    .fastTask{
        display: flex;
        width:100%;
        height: 40px;
        justify-content: space-between;
        align-items: center;
    }
    .fastTask h5{
        padding-left: 50px;
    }
    .fastTask i{
        padding-right: 50px;
        font-size: 20px;
    }
    .task input{
        border-radius: 8px;
        border: 1px solid #ccc;
    }
    .task input:hover{
            
        border: 1px solid black;
    }
    .task{
        margin-top: 20px;
        background: 1px solid #ccc;
    }
    .buttons{
        display: flex;
    }
    button{
        margin-top: 9px;
        width: 150px;
        height: 28px;
        margin-left: 45px;
        background-color: #dd4b39;
        border: 1px solid #dd4b39;
        color: white;
        font-weight: 600;
    }
    .cancel{
        margin-left: 50px;
    }
    input{
        width:500px;
        height: 90px;
    }
</style>