<template>
    <div id="nav">
      <div class="home">
        <i class="fas fa-bars cursor_p" @click="openMenu"></i>
        <i class="fas fa-home cursor_p" ></i>
        <input type="text" placeholder="Search">
      </div>
      <div class="settings">
         <div class="modal_text cursor_p" @click="openModal"><i class="fas fa-plus"></i></div>
         <i class="fas fa-check-circle cursor_p"></i>
         <p class="match cursor_p">5/5</p>
        <i class="fas fa-bell cursor_p"></i>
        <i class="fas fa-cog cursor_p"></i>
      </div>
    </div>
</template>
<script>
export default {
  data:()=>{
    return{
      count:0,
    }
  },
    methods: {
     openModal() {
        this.$emit('modal', true)
     },
     openMenu() {
      this.count++
      if(this.count%2===0){
         this.$emit('menu', true)
      }
      else{
         this.$emit('menu', false)
      }
     
     }
  }
}
</script>
<style scoped>
.cursor_p {
  cursor: pointer;
}
    #nav {
    background-color:rgb(245, 245, 245) ;
    width: 100%;
    height: 60px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    background-color: #dd4b39;
    border: 1px solid #dd4b39;
}
.home{
  width: 400px;
  margin-left: 50px;
  display: flex;
  align-items: center;
}
.home i{
  margin-left: 15px;
  font-size:22px ;
  color: white;
}
input{
  margin-left: 15px;
  height: 25px;
  border:1px solid #ccc;
  border-radius:5px ;
  width: 190px;
}
.settings{
  height: 50px;
  display: flex;
  align-items: center;
  margin-left: 750px;
  /* margin-left: 900px; */
}
.settings i{
  margin-left: 25px;
  font-size:22px ;
  color: white;
}
.match{
  margin-left: 15px;
  color: white;
}
</style>