<template>
   
        <ul  class="wrapper">
            <li class="lists" v-for="(item,index) in list" :key="'item'+index">
                <i class="fas fa-chevron-right " :class="{'open':item.open}"> </i>
                <div class="lists_items">
                    <div class="title" @click="item.open=!item.open">
                    {{item.title}}
                    </div>
                    <div class="sublist">
                        <SidebarAccordeonListItem :list="item" />
                    </div>
                </div>
            </li>
        </ul>
    
</template>
<script>
import SidebarAccordeonListItem from '@/components/SidebarAccordeonListItem'
export default {
    data:()=>{
        return{
            list:
                [
                    {
                    title:"Проекты",
                    open:false,
                    sublist:["VueProject"]
                    },
                    {
                    title:"Метки",
                    open:false,
                    },
                    {
                    title:"Фильтры",
                    open:false,
                    sublist:["Назначено мне","Назначено другим","Приоритет 1","Приоритет 2","Приоритет 3","Приоритет 4","Посмотреть все","Нет срока выполнения "]
                    }
                ],
                
        }
    },
    components:{
        SidebarAccordeonListItem
    }
}
</script>
<style scoped>
.wrapper{
    padding: 0;
    /* overflow: hidden; */
    
    
}
.wrapper li{
    padding-top: 10px;
    padding-bottom:10px ;
    list-style: none;
    border-bottom: 1px solid #dedede;
    text-align: left;
    cursor: pointer;
    text-indent: 10px;
    
}
.wrapper i{
    /* margin-left: 50px; */
    padding-right: 10px;
    transition: transform .5s ease-in-out;
    height: 15px;
}
.lists{
    display: flex;

}
.open{
    transform: rotateZ(90deg);
}
.sublist{
    margin-top: 5px;
}
</style>