<template>
  <div id="app">
    <Header @modal="showModal=$event"
            @menu="showMenu=$event">
    </Header>

    <div v-if="showModal">
        <transition name="fade"> 
        <div class="modal-overlay"  @click="showModal=false"></div>
        </transition>

      <transition name="slide"  >
        <div class="modal" @modal="showModal=$event">  
          <AddTodoModal @modal="showModal=$event"
            @add-todo="addTodo"
          />
        </div>
      </transition> 
    </div>
    <div class="section">
      <Sidebar  @menu="showMenu=$event" v-if="!showMenu">
      </Sidebar>
      <router-view/>
    </div>
    
    
    <!-- <div class="obwii">
      <div class="sidebar">
        <div class="obwi2">
          <div class=side>
            <router-link to="/about" id="p"><p><i class="fas fa-inbox"></i> Входящие</p></router-link>
            <router-link to="/today" id="p"> <p><i class="fas fa-calendar-times"></i> Сегодня </p></router-link>
            <router-link to="/coming" id="p"><p><i class="fas fa-calendar-day"></i> Предстоящее </p></router-link>
          </div>
          <div class="side2">
            <ul>
              <li class="lists" v-for="(item,index) in list" :key="'item'+index">
                <i class="fas fa-chevron-circle-right " :class="{'open':item.open}"> </i>
                <div class="title" @click="item.open=!item.open">
                  {{item.title}}
                </div>
                <div class="listitems">
                  <ListItem :list="item" />
                </div>   
              </li>
            </ul>
          </div>  
        </div>
    </div>
    <router-view/>
  </div> -->
  </div>
</template>


<script>
import Header from '@/components/Header'
import TodoList from '@/components/TodoList'
import AddTodoModal from '@/components/AddTodoModal'
import Sidebar from '@/components/Sidebar'
export default {
  data:()=>{
    return{
      todos:[  
        {id:1, title:' Finish task', completed:false},
        {id:2, title:' Find job', completed:false},
        {id:3, title:' Go to university', completed:false},
      ],
      show:false,
      showModal:false,
      showMenu:false,
      //  list:
      //     [
      //       {
      //         title:"Проекты",
      //         open:false,
      //         sublist:["VueProject"]
      //       },
      //       {
      //         title:"Метки",
      //         open:false,
      //       },
      //       {
      //         title:"Фильтры",
      //         open:false,
      //         sublist:["Приоритет 1","Приоритет 2","Приоритет 3","Приоритет 4"]
      //       }
      //     ]
    }
  },
  methods:{
    removeTodo(id){
      this.todos=this.todos.filter(t=> t.id !== id)
    },
    addTodo(todo){
      this.todos.push(todo)
    }

  },
  components: {
    Header,TodoList,AddTodoModal,Sidebar
  }
}
</script>
<style scoped>
.section{
  display: flex;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  overflow-x: hidden;
}

/* MODAL */
.modal_text{
  transition: 0.4s ease-out;
}
.modal-overlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 98;
  background-color:rgba(0,0,0,0.3) ;
}
.fade-enter-active,.fade-leave-active{
  transition: opacity 0.5s;

}
.fade-enter,.fade-leave-to{
  transition: opacity 0;
  
}
.modal{
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 99;
  width: 100%;
  max-width: 600px;
  background-color: white;
  height: 210px;
  border-radius: 10px;

}

/* END---MODAL */









/* SIDEBAR */
/* .sidebar{
  width: 350px;
  display: flex;
  justify-content: center;
  background-color:rgb(245, 245, 245) ;
  height: 676px;
}
.side{
  display: flex;
  flex-direction: column;
  padding-top: 5px;
}
.fa-inbox{
  color:#50a4d4;
}
.fa-calendar-times{
  color:#6ee474f3;
}
.fa-calendar-day{
  color:#905fda;
}
.side p{
  padding-left: -10px;
  width: 140px;
  display: flex;
  float: right;
  

}
#p{
  text-decoration: none;
  color: black;
}
#p p{
  font-weight: 600;
}
#p i{
  padding-right: 15px;
 
}

.obwi2{
  width: 150px;
}
.side2{
  list-style: none;
  border-radius: 4px; 
  margin-left: -40px;  
}




.lists{
  position: relative;
  color:black;
  display: flex;
  border-bottom: 1px solid #dedede;
  cursor: pointer;
}
.title{
  padding: 10px 0;
  text-indent: 20px;
}
.side2 i{
  height: 0;
  margin-top: 13px;
  transition: transform .5s ease-in-out;

}
.open{
  transform: rotateZ(90deg);
} */

</style>
